* {
    margin: 0;
    padding: 0;
}

@keyframes sol {
    0% {
        background-color: #FFA500;
    }

    50% {
        background-color: #D3D3D3;
    }

    100% {
        background-color: #FFA500;
    }
}

@keyframes anoitecer {
    0% {
        background-color: #00BFFF;
    }

    50% {
        background-color: #1C1C1C;
    }

    100% {
        background-color: #00BFFF;
    }
}

@keyframes lua {
    0% {
        background-color: #00BFFF;
    }

    50% {
        background-color: #1C1C1C;
    }

    100% {
        background-color: #00BFFF;
    }
}


@keyframes tf {
    0% {
        margin-left: 0%;
    }

    50% {
        margin-left: 25%;
    }

    100% {
        margin-left: 0%;
    }
}

@keyframes cano {
    0% {
        width: 2vw;
        height: 21vw;
        border-top-right-radius: 0.5vw;
    }

    10% {
        width: 2vw;
        height: 21vw;
        border-top-right-radius: 0.5vw;
    }

    33% {
        width: 1vw;
        height: 16vw;
        border-top-right-radius: 0vw;
    }

    43% {
        width: 1vw;
        height: 16vw;
        border-top-right-radius: 0vw;
    }


    66% {
        width: 5vw;
        height: 20vw;
    }

    76% {
        width: 5vw;
        height: 20vw;
    }

    90% {
        width: 2vw;
        height: 21vw;
        border-top-left-radius: 0.5vw;
        border-top-right-radius: 0.5vw;
    }

    100% {
        width: 2vw;
        height: 21vw;
        border-top-left-radius: 0.5vw;
        border-top-right-radius: 0.5vw;
    }
}

@keyframes cabine {
    0% {
        width: 20vw;
        height: 20vw;
        border-top-left-radius: 0vw;
    }

    10% {
        width: 20vw;
        height: 20vw;
        border-top-left-radius: 0vw;
    }

    33% {
        width: 49vw;
        height: 15vw;
        border-top-left-radius: 2.5vw;
        transform: translate(0vw, 0vw);
    }

    43% {
        width: 49vw;
        height: 15vw;
        transform: translate(0vw, 0vw);
    }

    66% {
        width: 20vw;
        height: 20vw;
        transform: translateY(5vw);
    }

    76% {
        width: 20vw;
        height: 20vw;
        transform: translateY(5vw);
    }

    90% {
        width: 20vw;
        height: 20vw;
        border-top-right-radius: 0.5vw;
        border-top-left-radius: 0vw;
    }

    100% {
        width: 20vw;
        height: 20vw;
        border-top-right-radius: 0.5vw;
        border-top-left-radius: 0vw;
    }
}

@keyframes janela {
    0% {
        width: 10vw;
        height: 10vw;
        margin-top: 1vw;
    }

    10% {
        width: 10vw;
        height: 10vw;
        margin-top: 1vw;
    }

    33% {
        width: 47.5vw;
        margin-top: 2vw;
        height: 5vw;
    }

    43% {
        width: 47.5vw;
        margin-top: 2vw;
        height: 5vw;
    }

    66% {
        width: 10vw;
        height: 10vw;
    }

    76% {
        width: 10vw;
        height: 10vw;
    }

    90% {
        width: 10vw;
        height: 10vw;
        margin-top: 1vw;
    }

    100% {
        width: 10vw;
        height: 10vw;
        margin-top: 1vw;
    }
}

@keyframes capo {
    0% {
        height: 4.5vw;
    }

    10% {
        height: 4.5vw;
    }

    33% {
        height: 3.5vw;
    }

    43% {
        height: 3.5vw;
    }

    66% {
        height: 4vw;
    }

    76% {
        height: 4vw;
    }

    90% {
        height: 4.5vw;
    }

    100% {
        height: 4.5vw;
    }
}

@keyframes chassi {
    0% {
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }

    10% {
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }

    33% {
        border-bottom-left-radius: 5vw;
        border-bottom-right-radius: 5vw;
        border-top-left-radius: 0vw;
    }

    43% {
        border-bottom-left-radius: 5vw;
        border-bottom-right-radius: 5vw;
        border-top-left-radius: 0vw;
    }

    66% {
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }

    76% {
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }

    90% {
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }

    100% {
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }
}

@keyframes rodas {
    0% {
        width: 5vw;
        height: 5vw;
        margin-right: 2vw;
    }

    10% {
        width: 5vw;
        height: 5vw;
        margin-right: 2vw;
    }

    33% {
        width: 5vw;
        height: 5vw;
        margin-left: 10vw;
        margin-right: 4vw;
        border: 2.5vw solid black;
        transform: translate(0vw, 0vw);
    }

    43% {
        width: 5vw;
        height: 5vw;
        margin-left: 10vw;
        margin-right: 4vw;
        border: 2.5vw solid black;
        transform: translate(0vw, 0vw);
    }

    66% {
        width: 2.5vw;
        height: 2.5vw;
        border: 0vw;
        margin: 0vw;
    }

    76% {
        width: 2.5vw;
        height: 2.5vw;
        border: 0vw;
        margin: 0vw;
    }

    90% {
        width: 5vw;
        height: 5vw;
        margin-right: 2vw;
    }

    100% {
        width: 5vw;
        height: 5vw;
        margin-right: 2vw;
    }
}

@keyframes rodafrente {
    0% {
        width: 5vw;
        height: 5vw;
        margin-left: 12vw;
    }

    10% {
        width: 5vw;
        height: 5vw;
        margin-left: 12vw;
    }

    20% {
        border: 0vw;
    }

    33% {
        width: 0vw;
        height: 0vw;
        margin-left: 0vw;
        border: 0vw;
    }

    43% {
        width: 0vw;
        height: vw;
        margin-left: 0vw;
        border: 0vw;
    }

    66% {
        width: 40vw;
        height: 10vw;
        background-color: gray;
        border: 2.5vw solid black;
        margin-left: 0vw;
    }

    76% {
        width: 40vw;
        height: 10vw;
        background-color: gray;
        border: 2.5vw solid black;
        margin-left: 0vw;
    }

    90% {
        width: 5vw;
        height: 5vw;
        margin-left: 12vw;
    }

    100% {
        width: 5vw;
        height: 5vw;
        margin-left: 12vw;
    }
}

body {
    background-color: #00BFFF;
    animation-name: anoitecer;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}

div {
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

#tf {
    margin-top: 5vh;
    width: 50vw;
    float: left;
    animation-name: tf;
}

#cano {
    width: 2vw;
    height: 21vw;
    background-image: linear-gradient(-45deg, #C0C0C0, #D3D3D3);
    float: right;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    animation-name: cano;
}

#cabine {
    width: 20vw;
    height: 20vw;
    margin-top: 1vw;
    border-top-right-radius: 0.5vw;
    float: right;
    background-color: red;
    animation-name: cabine;
}

#janela {
    width: 10vw;
    height: 10vw;
    margin-top: 1vw;
    border-radius: 2.5vw;
    float: right;
    background-image: linear-gradient(to right, aqua, white);
    animation-name: janela;
}

#farol {
    width: 2vw;
    height: 4vw;
    margin-top: 0.5vw;
    float: right;
    clear: both;
    background-color: aliceblue;
}

#seta {
    width: 2vw;
    height: 2vw;
    background-color: #FFA500;
}

#capo {
    width: 2vw;
    height: 4.5vw;
    float: right;
    clear: both;
    background-color: #666666;
    animation-name: capo;
}

#chassi {
    width: 50vw;
    height: 5vw;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    float: right;
    background-color: blue;
    animation-name: chassi;
}

#rodas {
    width: 5vw;
    height: 5vw;
    border: 2.5vw solid black;
    border-radius: 100%;
    margin-right: 2vw;
    float: right;
    background-color: gray;
    animation-name: rodas;
}

#rodafrente {
    width: 5vw;
    height: 5vw;
    border: 2.5vw solid black;
    border-radius: 100%;
    margin-left: 12vw;
    float: right;
    background-color: gray;
    animation-name: rodafrente;
}

footer {
    width: 100%;
    height: 40vh;
    float: left;
    z-index: -1;
    position: relative;
    background-color: #4F4F4F;
    transform: translateY(-10vh);
}

#sol {
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    margin-left: 1%;
    float: left;
    transform: translateY(5vh);
    background-color: #FFA500;
    animation-name: sol;
}